@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-blue: #88c8e2;
    --color-blue-dark: #008bc4;
    --color-gold: #f9d185;
    --color-light-gray: #eee;
    --color-dark-gray: #ddd;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: background-color 0.5s ,scale 0.5s;
    font-family: "Noto Sans", sans-serif;
    user-select: none;
    box-sizing: border-box;
}

a {
    color: black;
}

li {
    list-style-type: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navlink:hover, .selected-nav{
    border-bottom: 2px black solid;
}


.difficulty{
    border-radius: 100px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.difficulty a{
    
    padding: 5px 10px;
    border-radius: 100px;
}

.difficulty:has(a:hover:not(.selected)){
    background-color: var(--color-gold);
}

.difficulty .selected{
background-color: black;
    color: white;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.user{
    display: flex;
    flex-direction: column;
}

.username{
    font-weight: 800;
}

.logout{
    font-size: 8pt;
    color: var(--color-blue-dark);
}
