.selection{
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

.selection-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;

}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px var(--color-dark-gray) solid;
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
}

.cart-pic{
    width: 300px;
    overflow: hidden;
}

.cart-pic img{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.cart h3{
    margin: 12px 10px 6px 10px;
    align-self: flex-start;
}

.cart-difficulty{
    font-size: 10pt;
    align-self: flex-start;
    margin: 0 0px 12px 10px;
    border: 1px black solid;
    padding: 2px 10px;
    border-radius: 50px;
}

.cart-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-top: 1px var(--color-dark-gray) solid;
}

.cart-author{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 10pt;
}

.cart-author img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cart-username{
    font-weight: 600;
}

.cart-link{
    background-color: var(--color-gold);
    padding: 3px 10px 3px 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.cart-link:hover{
    cursor: pointer;
    scale: 1.1;
}
